@font-face {
  font-family: vazir;
  src: url(fonts/Vazir.eot);
}
@font-face {
  font-family: vazir;
  src: url(fonts/Vazir.ttf);
}
@font-face {
  font-family: vazir;
  src: url(fonts/Vazir.woff);
}
@font-face {
  font-family: vazir;
  src: url(fonts/Vazir.woff2);
}
.vazir{
  font-family: vazir;
}